{
  "extends":[
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:json/recommended"],
    "env": {
      "jest": true,
      "es6": true,
      "node": true
    },
    "rules":{
      "comma-dangle":[
        "error",
        {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "never"
        }
      ]
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    }
}
